body
{
    font-family: "Helvetica Neue", sans-serif;
    background: lightblue;
    font-size: 100%;
}

body * { box-sizing: border-box;}
/*  resets */

html,
body,
p,
form,
textarea,
h1,
h2,
h3,
h4,
h5
{
    margin: 0;
    padding: 0;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Style Guide Styles */
*[class*="sg-"] 
{
    text-decoration: underline;
    font-weight: 100;
    margin: 20px 0px 20px 40px;
}

.sg-top
{
    background: whitesmoke;
    width: 100%;
    margin: 0;
    padding: 100px 0px 100px 40px;
    margin-bottom: 40px;
    text-decoration: none;
}

.sg-notes
{
    background: whitesmoke;
    font-size: 33px;
    margin: 0;
    padding: 0px 40px;
    text-decoration: none;
    width: 100%;
}
/* Pet Billing Components */


/* GENERAL COMPONTENTS */

i.fa
{
    display: inline-block;

}

.demo-content
{
    display: block;
    width: 100%;
    height: 400px;
}

.demo-1
{
    background: lightsalmon;
}
.demo-2
{
    background: aquamarine;
}
.demo-3
{
    background: slateblue;
}

div:not(secondary)
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.logical-wrapper
{
    margin: 0;
    padding: 0;
}

.section-alt
{
    
}

section 
{
    background: whitesmoke;
    border: 1px solid black;
    width: calc(100% - 80px);
    margin: 40px auto;
    padding: 40px;
    height: auto;
}

input 
{
    padding-left: 4px;
    height: 25px;
    font-size: 100%;
    border: 1px solid black;
    margin-right: 20px;
}

input[type="checkbox"]
{
    vertical-align: bottom;

}

label 
{
    display: inline-block;
    margin: 0px 20px 0px 0px;
    font-weight: 200;
    width: 200px;
}



/* BASE DETAILS SECTION */

.section-alt 
{
    border: 1px solid red;
}

/* Label Textbox */

.label-textbox label
{
    margin: 20px 0px 20px 0px;

}

/* TOP-LEVEL-LABEL-TOGGLE */

.top-level-label-toggle
{
    margin-left: 40px;
}

.top-level-label-toggle .fa
{
    color: red;
}

.top-level-label-toggle > h1:hover
{
    background: lightgray;
}

.top-level-label-toggle > h1
{
    position: relative;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 20px 40px 20px 40px;
}
.top-level-label-toggle * 
{
    padding: 5px;
    display: inline-block;
}

/* TOP-LEVEL-LABEL-TOGGLE */


.second-level-label > h2
{
    position: relative;
    width: 33%;
    background: lightyellow;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
}



/* HEADER */
.page-header
{
    background: whitesmoke;
    padding: 40px;
    border-bottom: 1px solid black;
}

.second-level-label
{
    display:inline-block;
    background: lightyellow;
    margin: 20px 0px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.outer-header
{
    margin: 40px;
}

.inner-header
{
    margin: 40px 0px 40px 0px;
}

#username
{
    color: red;
}

.label-solo,
.label-solo-bold
{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.label-solo-bold
{
    font-weight: bold;
}


/* LABEL-INPUT */

.label-input
{
    font-weight: 200;
    display: block;
}

.label-input > input,
.label-input > h3
{
    display: inline-block;
}

/* LABEL-INPUT-VALIDATED */

.valid-input
{
    border: 2px solid lightgreen;
}

.invalid-input
{
    border: 2px solid red;
}


.label-input-validated
{
    font-weight: 200;
    display: block;
}

.label-input-validated > input,
.label-input-validated > h3,
.label-input-validated > h4
{
    display: inline-block;
}

.label-input-validated > h4
{
    margin-left: 40px;
}

.validation-status 
{

    color: whitesmoke;
    border-radius: 5px;
}

.valid-msg
{

    background: lightgreen;
    padding: 5px 8px;
}

.invalid-msg
{

    color: whitesmoke;
    background: red;
    padding: 5px 8px;
    border-radius: 5px;
}


/* LABEL-RADIOX-SINGLE */
.label-radiox-single *
{
    display: inline-block;
}

.label-radiox-single input[type="radio"] {
   vertical-align: middle; 
}
/* LABEL-SELECT */

.label-select 
{
    display: block;
}

.label-select > input,
.label-select > select 
{
    display: inline-block;
}

/* LABEL INPUT CLONE  */
.label-input-clone
{

}

i.fa-plus
{
    font-size: 25px;
    vertical-align: bottom;
    margin-left: 20px;
}

.clone
{
    color: lightgreen;
}

.clone:hover
{
    color: green;
}

.remove
{
    color: red;
}

.remove:hover
{
    color: lightcoral;
}


/* SUBMIT */
input[type="submit"]
{
    display: block;
    margin: 40px;
    padding: 30px 40px 40px 40px;
    background: lightgreen;
    border: 1px solid black;
    border-radius: 5px;
    font-family: Helvetica;
}

/* Media Queries */
@media (max-width: 600px) {

    /* general elements */
    body { background: white; max-width: 100%;}
    section { width: 100%;}
    input[type="checkbox"] { vertical-align: middle; }
    label { padding-left: 0; margin-left: 0; margin-bottom: 10px;}

    /* Top Level Label */
    h1.top-level-label { display: block; width: 90%;margin: 0 auto; min-width: 0;}
    .top-level-label-toggle { margin: 20px 0px; min-width: 0; }

    /* Second Level Label */
    h2.second-level-label { width: 90%; margin: 0 auto; min-width: 0px;}

    /* Input Validation */
    h4.validation-status, h4.validation-msg { display: block; margin-left: 0px; margin-top: 5px;}
    textarea
    {
        width: 100%;
    }


}


