html, body, body *
{
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body
{
	font-family: "HelveticaNeue-Light", sans-serif;
	background: lightblue;
}

.container
{
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.sub-header
{
	margin-top: 20px;

}

h1 
{
	display: block;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
}

header
{
	margin: 0px;
	padding-left: 5%;
	padding-right: 5%;
	background: whitesmoke;
	height: 60px;
	line-height: 60px;
}

header h1,
header h2
{
	display: inline;
	font-size: 1.5em;
}


.hidden
{
	display: none;
}

input, 
label
{
	display: inline-block;
}

form div,
label[class="isotope-header"],
label[class="radiotracer-header"],
label[class="other-header"]
{
	margin-top: 5px;
	margin-bottom: 5px;
}

label[class="prod-date"],
label[class="proj-code"]
{
	margin-right: 5px;
	width: 120px;
}

label[class="prod-date"],
label[class="proj-code-label"]
{
    margin-right: 5px;
    width: 120px;
}

label[class="sub-header"]
{
	font-weight: bold;
	margin-bottom: 5px;
}


div label[class="proj-code"]
{
}

input 
{
	border: 1px solid black;
	height: 30px;
	font-size: 100%;
	padding-left: 5px;
}

/* released for injection */
input[name=rfi][type=text]
{
  color: lightgray;
}

input[type=submit]
{
	margin-top: 20px;
	background: whitesmoke;
	border-radius: 5px;
	width: 20%;
	height: 60px;
	font-weight: bold;
}

input[type=submit]:hover
{
  background: lightgreen;
}

label
{
  width: 160px;
}

.production-block
{
	padding-bottom: 20px;
}

.isotope-block,
.radiotracer-block,
.other-block
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgba(240,240,240,.4);
}
.isotope-block div,
.radiotracer-block div,
.other-block div
{
  margin-left: 25px;
}

div input,
div label
{
	vertical-align: middle;
}

.isotope-block label,
.radiotracer-block label,
.other-block label
{
  margin-left: 5px;
  margin-right: 5px;
}

.isotope-block div:last-child,
.radiotracer-block div:last-child,
.other-block div:last-child
{
	margin-bottom: 20px;
}

.isotope-block div:first-child,
.radiotracer-block div:first-child,
.other-block div:first-child
{
	margin-top: 20px;
}

.isotope-header,
.radiotracer-header,
.other-header
{
	border: 1px solid black;
	border-radius: 5px;
	height: 40px;
	width: 20%;
	line-height: 40px;
	background: whitesmoke;
	display: block;
	font-weight: bold;
	text-align: center;
}

.isotope-header:hover,
.radiotracer-header:hover,
.other-header:hover
{
	background: lightgray;
}

textarea
{
	display: block;
}

.username
{
	color: rgba(204,0,0,0.8	);
}

.thin-pipe 
{
  font-weight: 100;
}

.validity
{
  background: red;
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 5px;
  border: 1px solid black;
  line-height: 10px;
  text-align: center;
  vertical-align: middle;
  margin-left: 5px;
}

.status-ok
{
  background: lightgreen;
}

@media (max-width:500px) {
  .container
  {
    margin: 0 auto;
    text-align: center;
  }

  div.bolus-block,
  div.infusion-block
   {
     margin-left: 0px;
   }
  .bolus-header,
  .bolus-and-infusion-header
  {
    display: block;
    margin: 0 auto;
  }

  #datepicker { width: 110px;}
  label.block
  {
    width: 100%;
  }
  textarea
  {
    width: 100%;
  }

  .thin-pipe
  { 
    display: none;
  }
  header 
  {
	height: 120px;
    
  }
  header h1,
  header h2
  {
    width: 100%;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  
  header h2
  {
    
  }
  input[type=text] {
    margin-top: 5px;
  } 

  .radiotracer-block > div
  {
    margin-left: 0px;
  }
  div.radiotracer-block > div > label[class!=bolus-header]
  { min-width: 160px; text-align: left;}

  label.bolus-header,
  label.infusion-header
  {
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
  }
}
