html, body, body *
{
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body
{
	font-family: "HelveticaNeue-Light", sans-serif;
	background: lightblue;
}

.container
{
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.sub-header
{
	margin-top: 20px;

}

h1 
{
	display: block;
	font-size: 2em;
	margin-top: 20px;
	margin-bottom: 20px;
}

header
{
	margin: 0px;
	padding-left: 5%;
	padding-right: 5%;
	background: whitesmoke;
	height: 60px;
	line-height: 60px;
}

header h1,
header h2
{
	display: inline;
	font-size: 1.5em;
}


.hidden
{
	display: none;
}

input, 
label
{
	display: inline-block;
}

form div,
label[class="isotope-header"],
label[class="radiotracer-header"],
label[class="other-header"]
{
	margin-top: 5px;
	margin-bottom: 5px;
}

label[class="prod_date"],
label[class="proj_code"]
{
	margin-right: 5px;
	width: 120px;
}

label[class="sub-header"]
{
	font-weight: bold;
	margin-bottom: 5px;
}


div label[class="proj_code"]
{
}

input 
{
	border: 1px solid black;
	height: 30px;
	font-size: 100%;
	padding-left: 5px;
}

input[type=submit]
{
	margin-top: 20px;
	background: whitesmoke;
	border-radius: 5px;
	width: 20%;
	height: 60px;
	font-weight: bold;
}

input[type=submit]:hover
{
  background: lightgreen;
}

.production-block
{
	padding-bottom: 20px;
}

.isotope-block,
.radiotracer-block,
.other-block
{
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	background: rgba(240,240,240,.4);
}
.isotope-block div,
.radiotracer-block div,
.other-block div
{
  margin-left: 25px;
}

div input,
div label
{
	vertical-align: middle;
}

.isotope-block label,
.radiotracer-block label,
.other-block label
{
  margin-left: 5px;
  margin-right: 5px;
}

.isotope-block div:last-child,
.radiotracer-block div:last-child,
.other-block div:last-child
{
	margin-bottom: 20px;
}

.isotope-block div:first-child,
.radiotracer-block div:first-child,
.other-block div:first-child
{
	margin-top: 20px;
}

.isotope-header,
.radiotracer-header,
.other-header
{
	border: 1px solid black;
	border-radius: 5px;
	height: 40px;
	width: 20%;
	line-height: 40px;
	background: whitesmoke;
	display: block;
	font-weight: bold;
	text-align: center;
}

.isotope-header:hover,
.radiotracer-header:hover,
.other-header:hover
{
	background: lightgray;
}

textarea
{
	display: block;
}

.username
{
	color: rgba(204,0,0,0.8	);
}